@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-right: 100px;
  padding-left: 100px;
}

.button {
  text-decoration: none;
  display: inline-block;
  padding: 15px 30px;
  background-color: #264065;
  color: white;
  border-radius: 50px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
}
.button:hover {
  background-color: rgb(37, 75, 173);
}

.button-list {
  text-decoration: none;
  display: inline-block;
  padding: 15px 22px;
  color: #264065;
  font-weight: 100;
}
.button-list:hover {
  color: #A9D6CB;
}

.hero__title {
  max-width: 780px;
  line-height: 80px;
  font-family: "Poppins", sans-serif;
  font-size: 59px;
  margin-bottom: 32px;
  color: #264065;
}
.hero__subtitle {
  max-width: 734px;
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  color: #9D9D9C;
  margin-bottom: 56px;
}
.hero__button {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 70px;
  margin-bottom: 90px;
}
.hero__button-button {
  text-decoration: none;
  display: inline-block;
  padding: 15px 30px;
  background-color: #264065;
  color: white;
  border-radius: 50px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
}
.hero__button-button:hover {
  background-color: rgb(37, 75, 173);
}
.hero__button-list {
  text-decoration: none;
  display: inline-block;
  padding: 15px 22px;
  color: #264065;
  font-weight: 100;
}
.hero__button-list:hover {
  color: #A9D6CB;
}
.hero__button-list {
  position: relative;
}
.hero__button-list:before {
  content: "";
  width: 40px;
  height: 40px;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 4px;
  left: -31px;
  background-color: white;
  border-radius: 50%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 80px;
}
.header__primary-menu {
  display: flex;
  gap: 20px;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}
.header__primary-menu a {
  text-decoration: none;
  display: inline-block;
  padding: 15px 22px;
  color: #264065;
  font-weight: 100;
}
.header__primary-menu a:hover {
  color: #A9D6CB;
}
.header__primary-menu .vector {
  position: absolute;
  left: 533px;
  top: 11px;
  padding: 3px;
}
.header__primary-menu .vector:hover {
  color: #A9D6CB;
}
.header__secundary {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__secundary ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header__secundary-icons {
  display: flex;
  gap: 20px;
}
.header__secundary-login {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__secundary-login .link {
  color: #264065;
  display: inline-block;
  padding: 15px 30px;
}
.header__secundary-login .link:hover {
  color: rgb(37, 75, 173);
}

body::before {
  content: "";
  width: 70%;
  height: 80%;
  background-color: #FAF8F5;
  position: absolute;
  left: 0;
  z-index: -1;
}
body::after {
  content: "";
  width: 30%;
  height: 80%;
  background-color: #A9D6CB;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

section.principal {
  background-image: url(../img/beauty-woman.png);
  background-repeat: no-repeat;
  background-size: 1300px;
  background-position: 180% 2%;
}

html * {
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
}/*# sourceMappingURL=style.css.map */