body{
   
    &::before{
        content: '';
        width: 70%;
        height: 80%;
        background-color: #FAF8F5;
        position: absolute;
        left: 0;
        z-index: -1;
    }

    &::after{
        content: '';
        width: 30%;
        height: 80%;
        background-color: $green;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -2;
    }

    section.image{
        position: absolute;
        bottom: -70px;
        right: -60px;
        z-index: 0;

    }

}